version: '3.8'
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  dynamodb:
    image: amazon/dynamodb-local
    ports:
      - "8000:8000"
    command: "-jae DynamoDBLocal.jar -sharedDb"

  redis-insight:
    image: redislabs/redisinsight:latest
    ports:
      - "8001:8001"
    depends_on:
      - "redis"